
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'EB Garamond', serif;
}

h3 {
    font-family: 'Inter', sans-serif;
}

.company-name {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

* {
    box-sizing: border-box;
}

header {
  display: grid;
  background: #f4f2ea;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  /* margin-bottom: 2rem; */
}

.nav nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.search-bar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5rem;
  align-items: center;
  border: 1px solid #222;
  padding: .5rem .75rem;
  min-width: 270px;
}

.banner {
  background: #343d32;
  color: #fff;
  padding: 3rem 2rem;
}

.banner-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.banner-text{
    justify-self: center;
    text-align: center;
    max-width: 520px;
}

.banner-book {
    justify-self: start;
}

.banner-trophy {
    justify-self: end;
}

.intro-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 3rem 2rem 2rem;
}


.discover {
    padding: 2rem 2rem 4rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    background: #f4f2ea;
    padding: 2rem;
    margin-top: 1.5rem;
}

.books figure {
    margin: 0;
}


footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: start;
    gap: 3rem;
    padding: 2.5rem 2rem;
    background: #f4f2ea;
    border-top: 1px solid #ddd;
}

footer a {
    display: block;
    margin-top: .4rem;
    text-decoration: none;
    color: inherit;
}

.footer-social-media {
    display: flex;
    gap: 1rem;
    align-items: center;
}
